In [84]:
c = ['r','r','r','n','n','n','r','r', 'g','r', 'n', 'n', 'n', 'n', 'r', 'n']

In [85]:
import numpy as np

In [86]:
n = [12,36,12,29,29,24,12,14,0,3,29,29,15,29,25,11]

In [87]:
ans = list(zip(n, l))

In [88]:
df = pd.DataFrame(ans, columns = ['Number', 'Colour'])

In [89]:
df['n'] = np.where(df.Colour == 'r', 1, 0)

In [90]:
df

    Number Colour  n
0       12      r  1
1       36      r  1
2       12      r  1
3       29      n  0
4       29      n  0
5       24      n  0
6       12      r  1
7       14      r  1
8        0      g  0
9        3      r  1
10      29      n  0

In [91]:
df['Number'].value_counts()

29    3
12    3
14    1
24    1
36    1
3     1
0     1
Name: Number, dtype: int64

In [92]:
df['n'].value_counts()

1    6
0    5
Name: n, dtype: int64

In [93]:
df['Colour'].value_counts()

r    6
n    4
g    1
Name: Colour, dtype: int64

In [94]:
df.describe()

          Number          n
count  11.000000  11.000000
mean   18.181818   0.545455
std    11.813705   0.522233
min     0.000000   0.000000
25%    12.000000   0.000000
50%    14.000000   1.000000
75%    29.000000   1.000000
max    36.000000   1.000000